<!-- index.html -->
<!DOCTYPE html>

<html lang="ja">
  <head>
  </head>
  <body>

    <h1>Parse text</h1>

    <form action="/parse_url/input_text.html" method="post">
        <h1>Put URL</h1>
        <input type="text" name="name">
        <button type="submit">Parse</button>
    </form>

    <h1>Parse domain text</h1>

    <form action="/parse_url/input_domain.html" method="post">
        <h1>Put URL</h1>
        <input type="text" name="name">
        <button type="submit">Parse</button>
    </form>

  </body>
</html>
